SASBActionFlows/flows/Trigger_SASB_report_using_Assessment_Summary_from_Disclosure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get Assessment Response Summary</description>
        <name>Get_Assessment_Response_Summary</name>
        <label>Get Assessment Response Summary</label>
        <locationX>584</locationX>
        <locationY>759</locationY>
        <actionName>getAssessmentResponseSummary</actionName>
        <actionType>getAssessmentResponseSummary</actionType>
        <connector>
            <targetReference>RequestText1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assessmentId</name>
            <value>
                <elementReference>GetDisclosureId.Assessment.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>{&quot;keepIntermediate&quot;:true,&quot;title&quot;:&quot;TestFlows&quot;,&quot;templateContentVersionId&quot;:&quot;068B000000BTCdg&quot;}</description>
        <name>RequestText1</name>
        <label>RequestText</label>
        <locationX>584</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>RequestText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{&quot;keepIntermediate&quot;:true,&quot;title&quot;:&quot;Summary {!getTemplateVersion.ContentDocument.Title}&quot;,&quot;templateContentVersionId&quot;:&quot;{!getTemplateVersion.Id}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Document_Generation_Process</targetReference>
        </connector>
    </assignments>
    <description>This flow is to trigger the Assessment summary Action to generate the Documents with Assessment Questions responses.</description>
    <environments>Default</environments>
    <interviewLabel>Trigger SASB report using Assessment Summary from Disclosure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger SASB report using Assessment Summary from Disclosure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Document_Generation_Process</name>
        <label>Create Document Generation Process</label>
        <locationX>584</locationX>
        <locationY>976</locationY>
        <connector>
            <targetReference>Document_Generation_Processes_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ReferenceObject</field>
            <value>
                <elementReference>GetDisclosureId.Assessment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestText</field>
            <value>
                <elementReference>RequestText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TokenData</field>
            <value>
                <elementReference>Get_Assessment_Response_Summary.assessmentResponseSummary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>GenerateAndConvert</stringValue>
            </value>
        </inputAssignments>
        <object>DocumentGenerationProcess</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetDisclosureId</name>
        <label>GetDisclosureId</label>
        <locationX>581</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Disclosure</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDocGenTemplateId</name>
        <label>Get Template Id</label>
        <locationX>584</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTemplateVersion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOS.OmniProcessId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOS</name>
        <label>Get Omni Process Id</label>
        <locationX>589</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOS1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDisclosureId.Assessment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assessment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OmniProcessId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOS1</name>
        <label>Get Omni Process</label>
        <locationX>584</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDocGenTemplateId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOS.OmniProcessId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OmniProcess</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTemplateVersion</name>
        <label>Get Template Version Id</label>
        <locationX>584</locationX>
        <locationY>652</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assessment_Response_Summary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDocGenTemplateId.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Document Generation Processes</description>
        <name>Document_Generation_Processes_Results</name>
        <label>Document Generation Processes Results</label>
        <locationX>584</locationX>
        <locationY>1084</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p&gt;Document generation process successfully initiated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>848</locationX>
        <locationY>1084</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>394</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetDisclosureId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DisclosureId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>RequestText</description>
        <name>RequestText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
